body {
    background-color: rgb(236, 223, 204); /* Background color for all webpage */
}
/* I decided all my headings will be on centered so i put them in a single line 
of code rather than using spaghetti code with a class of each headings */
h1, h2, h3, h4, p {
    text-align: center;
    font-family: serif;  
}
/* This code is for contact us webpage */
.center-page {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 0;
}
/* This specific is for specific paragraph from my index.html */
.p1 {
    font-size: 120%;
    font-family: serif;
}